<p>[ 解析 ]</p>
<p class="detail">
    <%= questionDto.explantion %>
</p>
<div class="explanImg-content">
  <% if (questionDto.explanImg) { %>
      <img src="/assets/img/<%= questionDto.explanImg[0] %>" alt="">
    <% } %>    
</div>