<div class="setting-item">
    <div>立即判题</div>
    <label class="slideSwitch">
        <input type="checkbox" id="toggleSwitch" <%= userSetting.instantJudge ? 'checked' : '' %>/>
        <span class="slider"></span>
    </label>
</div>
<button id="modifyUserSettingButton">
    变更设置
</button>