:root {
  --H-SlideSwitch: 24px;
  --button-background-color: #ececed;
  --button-hover-background-color: #d4d4d4;
  --note-fence-color: rgb(66, 66, 66);
  --note-backgroud-color: rgb(240, 240, 240);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
  background-color: #f5f7fa;
}

.content {
  display: flex;
  justify-content: space-between;
  position: fixed;
  min-width: 1200px;
  min-height: 80vh;
  max-height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

@media (max-width: 400px) {
  .content {
    min-width: 90%;
    min-height: 65vh;
    max-height: 84vh;
    border-radius: 0;
    padding: 6px;
    top: 0;
    left: 0;
    transform: none;
  }
}

.QA {
  width: 65%;
  background-color: white;
  padding: 10px;
  max-height: 90%;
  overflow-y: auto;
}

@media (max-width: 400px) {
  .QA {}
}

.title-content {
  width: 100%;
  min-height: 40%;
}

.title {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  line-height: 1.5;
  padding: 0 20px;
}

@media (min-width: 360px) {
  .title {
    font-size: 15px;
  }
}

.blank{
  margin: 0 auto;
  width: 95%;
  height: 36px;
  margin-top: 30px;
}

.blank >  div{
  width: 100%;
  height: 100%;
  border-left: 3px solid var(--note-fence-color);
  background-color: var(--note-backgroud-color);
}

.explanation-content {
  padding: 0 20px;
}

.explanation-content .detail {
  text-indent: 2em;
  line-height: 2;
}

.choice{
  margin-top: 30px;
}

.choice ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0 20px;
  margin: 0;
  gap: 10px;
}

.choice ul.vertical {
  flex-direction: column;
  align-items: start;
}

.choice li {
  padding: 10px;
  font-size: 16px;
  background-color: #f8f9fa;
  border-radius: 4px;
  border: 1px solid transparent;
}

.choice li.selected {
  border-color: #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.choice li:hover {
  border-color: #ddd;
  cursor: pointer;
}

.titleImg-content{
  margin-top: 20px;
}

.titleImg-content img{
  display: block;
  width: 100%;
}

.table-content {
  width: 30%;
  flex-shrink: 0;
  /* 不收缩 */
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  max-height: 90%;
  overflow-y: auto;
}

@media (max-width: 400px) {
  .table-content {
    border-radius: 0;
  }
}

.table-content ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 400px) {
  .table-content ul {
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
  }
}

.table-content li {
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  color: #444;
  background-color: #f8f9fa;
  border: 1px solid transparent;
  border-radius: 4px;
}

.table-content li.answered {
  background-color: #bebdbd;
}

.table-content li.right {
  background-color: #04ab14;
}

.table-content li.wrong {
  background-color: #d20101;
}

.table-content li:hover {
  cursor: pointer;
  border-color: #ddd;
}

.table-content li:last-child {
  border-bottom: none;
}

.panel {
  position: fixed;
  right: 40px;
  bottom: 40px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 6px 6px rgba(161, 162, 161, 0.727);
}

.float-btn {
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #007bff;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  font-size: 32px;
}

.actions {
  margin-top: 8px;
  background: #f8f9fa;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  position: absolute;
  bottom: 100%;
  left: -50%;
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0;
  transform: translateY(20px);
  visibility: hidden;
  pointer-events: none;
}

.actions-item {
  padding: 6px 12px;
  font-size: 14px;
  white-space: nowrap;
}

.action {
  cursor: pointer;
}

.actions-item:hover {
  background: #e9ecef;
}

.panel.active .actions {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
  transform: translateY(0);
}