.uploadPictureOfTitle-content {
    width: 300px;
    height: 100px;
    top: calc(40vh - 50px);
    left: calc(50vw - 150px);
}

.uploadPictureOfTitle-content form input{
    display: block;
    margin-top: 20px;
}

.uploadPictureOfTitle-content form input:nth-child(1){
    width: 100%;
}